@page
@model Lab9.App.Pages.Penalties.EditModel

<br />
<h2 class="text-info">Редактирование штрафа</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <input type="hidden" asp-for="Penalty.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Penalty.Type">Тип</label>
            </div>
            <div class="col-6">
                <input asp-for="Penalty.Type" class="form-control" />
            </div>
            <span asp-validation-for="Penalty.Type" class="text-danger"></span>
            <br />
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Penalty.Price">Стоимость</label>
            </div>
            <div class="col-6">
                <input asp-for="Penalty.Price" class="form-control" />
            </div>
            <span asp-validation-for="Penalty.Price" class="text-danger"></span>
            <br />
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Penalty.Rent" class="control-label">Id аренды</label>
            </div>
            <div class="col-6">
                <select asp-for="Penalty.RentId" class="form-control"
                        asp-items="@Model.RentIdSL">
                    <option value="">Выбор аренды</option>
                </select>
                <span asp-validation-for="Penalty.RentId" class="text-danger" />
            </div>
            <br />
        </div>

        <div class="form-group row" style="margin-top: 10px">
            <div class="col-3 offset-3">
                <input type="submit" value="Изменить" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Назад</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
